<h1>Login Passport</h1>

<form class="card" action="/login" method="POST">
	<input required type="text" name="username" placeholder="Username" minlength="1" />
	<input required type="password" name="password" placeholder="Password"/>
	<button class="btn btn-primary" type="submit">Log In</button>
</form>