<h1>Log In Passport</h1>

<form action="/user" method="POST">
	<input required type="text" name="username" placeholder="Username" minlength="1" />
	<input required type="password" name="password" placeholder="Password"/>
	<button type="submit">Log In</button>
</form>