@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --black: #222831;
  --gray: #393E46;
  --white-gray: #EEE;
  --white: #fff; 
  --primary: #FFD369;
  --border-radius: 4px;
}

* {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 16px;
	background-color: var(--black);
	color: var(--white);
}

h1 {
	text-align: center;
}

.card {
	background-color: var(--white-gray);
	display: flex;
	flex-direction: column;
	padding: 1rem;
  max-width: 800px;
	border-radius: var(--border-radius);
	margin: 1rem auto;
	justify-content: center;
}

.card input {
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  margin: .5rem .25rem;
  padding: .25rem;
}

.card input:focus {
  outline: none;
}

.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: .5rem;
  border: none;
	color: var(--black);
	border-radius: var(--border-radius);
	min-width: 200px;
	margin: .25rem auto;
}

.btn:hover {
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: var(--black);
}

.btn-primary {
	background-color: var(--primary);
	border: 1px solid var(--primary);
}

@media only screen and (min-width: 800px) {
  .btn {
    min-width: 400px;
    font-size: 1.25rem;
  }

  .card input {
    height: 48px;
    font-size: 1.25rem;
  }
}