<form action="/signup" method="POST" class="card">
	<input required type="text" name="username" placeholder="Username"/>
	<input required type="password" name="password" placeholder="Password" />
	<input required type="password" name="password_2" placeholder="Repeat Password">
	<button class="btn btn-primary" type="submit">Sign Up</button>
</form>