<h1>Welcome User page</h1>

<div class="about-container">
	<button class="btn btn-primary"><a href="/user/about">Go to About</a></button>
	
	<form action="/logout">
		<button class="btn" type="submit">Logout</button>
	</form>
</div>